apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

resources:
  # Base components di Thanos
  - ./localpath/thanos-pv.yaml
  - ./localpath/pvc-thanos-store.yaml
  - ./localpath/thanos-store-deployment.yaml

  - ./localpath/thanos-query-deployment.yaml

  - ./localpath/thanos-sidecar-deployment.yaml
  
  - ./localpath/thanos-compact-deployment.yaml
  
  - ./localpath/thanos-rule-deployment.yaml



patchesStrategicMerge:
  # Personalizzazioni locali, se necessarie
  # - custom-thanos-sidecar.yaml
  # - custom-thanos-query.yaml

configMapGenerator:
  # Configurazioni per Thanos
   - name: thanos-config
     files:
       - thanos-config.yaml
