apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

resources:
  # Base components di Thanos
  #- ./secrets/teadal-user-1.yaml
  #- ./localpath/thanos-pv.yaml
  #- ./localpath/pvc-thanos-store.yaml
  #- ./localpath/thanos-store-deployment.yaml

  - ./localpath/thanos-query-deployment.yaml

  - ./localpath/thanos-sidecar-deployment.yaml
  
  - ./localpath/thanos-compact-deployment.yaml
  
  #- ./localpath/thanos-rule-deployment.yaml



patchesStrategicMerge:
  #  local patches, if necessary
  # - custom-thanos-sidecar.yaml
  # - custom-thanos-query.yaml

configMapGenerator:
  # Thanos Configurations
  #- name: thanos-config
  #files:
  #- thanos-config.yaml
