---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: flower
  name: flower
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: flower
  strategy: {}
  template:
    metadata:
      labels:
        io.kompose.service: flower
    spec:
      containers:
        - args:
            - /start-flower
          name: flower
          image: registry.teadal.ubiwhere.com/teadal-public-images/asset_manager_idp_django:productionv3
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: kcong-backend-options
          ports:
            - containerPort: 5555
          resources: {}
      imagePullSecrets:
        - name: teadal-registry-secret
      restartPolicy: Always
status: {}
