image: golang:latest

stages:
  - test
  - build

format:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)

compile:
  stage: build
  script:
    - mkdir -p mybinaries
    - CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o mybinaries/teadal.config_linux_amd64
    - CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o mybinaries/teadal.config_linux_arm64
    - CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o mybinaries/teadal.config_linux_amd64
    - CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -o mybinaries/teadal.config_linux_arm64
  artifacts:
    paths:
      - mybinaries
  only:
    - tags
  except:
    - branches
