apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ingress-policy.yaml
- opa-envoy-plugin.yaml

secretGenerator:
- name: opa-policy
  namespace: minio-operator
  files:
  - bundles/teadal-policy-bundle-LATEST.tar.gz
#  - rego/main.rego
#  - authnz.envopa.rego=rego/authnz/envopa.rego
#  - authnz.http.rego=rego/authnz/http.rego
#  - authnz.oidc.rego=rego/authnz/oidc.rego                            
#  - authnz.rbac.rego=rego/authnz/rbac.rego
#  - config.oidc.rego=rego/config/oidc.rego
  # - fdpsyncdummy.service.rego=rego/fdpsyncdummy/service.rego
  # - fdpsyncdummy.rbacdb.rego=rego/fdpsyncdummy/rbacdb.rego
  # - sfdpsyncdummy.service.rego=rego/sfdpsyncdummy/service.rego
  # - sfdpsyncdummy.rbacdb.rego=rego/sfdpsyncdummy/rbacdb.rego
#  - httpbin.service.rego=rego/httpbin/service.rego
#  - httpbin.rbacdb.rego=rego/httpbin/rbacdb.rego
#  - minio.service.rego=rego/minio/service.rego
