apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-sidecar
  namespace: istio-system
  labels:
    app.kubernetes.io/name: thanos-sidecar
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: thanos-sidecar
  template:
    metadata:
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      labels:
        app.kubernetes.io/name: thanos-sidecar
    spec:
      containers:
      - name: thanos-sidecar
        image: thanosio/thanos:v0.32.2
        args:
        - sidecar
        - --tsdb.path=/prometheus
        - --objstore.config-file=/etc/thanos/thanos-config.yaml
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: teadal-user-1
              key: CONSOLE_ACCESS_KEY
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: teadal-user-1
              key: CONSOLE_SECRET_KEY
        volumeMounts:
        - name: thanos-config-volume
          mountPath: /etc/thanos
          readOnly: true
      volumes:
      - name: thanos-config-volume
        configMap:
          name: thanos-config
