#---
# Secret for MinIO credential (replace with base64 correct values)
#apiVersion: v1
#kind: Secret
#metadata:
#  name: minio-credentials
#  namespace: istio-system
#type: Opaque
#data:
  #access_key: KN335GF5J0GA104HMH4S # base64 di 'ACCESS_KEY'
  #secret_key: RjLJSEHwPmgBtkDbuqoDiQ9E44UKl6F4NtOU1jpM # base64 of 'SECRET_KEY'
#  access_key: LTXG5CVY0MXLE0WO75Q6 # base64 di 'ACCESS_KEY'
#  secret_key: IKxps9GTiPGBZaK6BRmeF434lGZCNx0XG3sa4PLE # base64 of 'SECRET_KEY'
#
---
# ConfigMap with Tahnos bucket configuration
# Replace endpoint, bucket and credentials if necessary 
apiVersion: v1
kind: ConfigMap
metadata:
  name: thanos-bucket-config
  namespace: istio-system
data:
  bucket.yml: |
    type: S3
    config:
      bucket: "thanos-bucket"
      endpoint: "minio:9000"
      access_key: "$ACCESS_KEY"
      secret_key: "$SECRET_KEY"
      insecure: true
      signature_version2: false
    prefix: ""

---
# Job for creating bucket if it doesn't exisist 
apiVersion: batch/v1
kind: Job
metadata:
  name: create-minio-bucket
  namespace: istio-system
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      containers:
      - name: create-bucket
        image: minio/mc:RELEASE.2023-06-23T18-12-07Z
        env:
          - name: ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: teadal-user-1
                key: CONSOLE_ACCESS_KEY
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: teadal-user-1
                key: CONSOLE_SECRET_KEY
        command: ["/bin/sh", "-c"]
        args:
          - |
            mc alias set rawdata http://teadal-teadal-0.teadal-hl.minio-operator.svc.cluster.local:9000 $ACCESS_KEY $SECRET_KEY
            mc mb rawdata/thanos-bucket || echo "Bucket already exist."
      restartPolicy: Never
  backoffLimit: 1

---
# Deployment del Thanos Sidecar
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-sidecar
  namespace: istio-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thanos-sidecar
  template:
    metadata:
      labels:
        app: thanos-sidecar
    spec:
      containers:
      - name: thanos-sidecar
        image: thanosio/thanos:v0.32.2
        args:
          - sidecar
          - --tsdb.path=/data
            #- --prometheus.url=http://10.152.183.187:9090
          - --prometheus.url=http://prometheus:9090
          - --objstore.config-file=/etc/thanos/bucket.yml
        volumeMounts:
        - name: storage-volume
          mountPath: /data
        - name: thanos-config
          mountPath: /etc/thanos
        env:
          - name: ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: teadal-user-1
                key: CONSOLE_ACCESS_KEY
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: teadal-user-1
                key: CONSOLE_SECRET_KEY
        ports:
        - name: grpc
          containerPort: 10901
      volumes:
      - name: thanos-config
        configMap:
          name: thanos-bucket-config
      - name: storage-volume
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: thanos-sidecar
  namespace: istio-system
spec:
  selector:
    app: thanos-sidecar
  ports:
    - name: grpc
      port: 10901
      targetPort: 10901
